 <!-- user info -->
<main>
    <section class="user">
        <div class="mt-6 columns is-centered">
            <div class="box column is-6 p-6">
                <div class="columns is-centered">
                    <div class="column is-3 profile-picture">
                        <figure class="image is-128x128">
                             <img class="is-rounded" src="<%= "/user_images/#{@user.image_name}" %>" >
                        </figure>
                    </div>
                    <div class="column is-9 profile-info">
                        <p class="title is-3 is-spaced">
                            <%= @user.name %>
                        </p>
                        <button class="button is-rounded">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="mt-6 columns is-centered">
            <div class="tabs is-centered">
                <ul>
                    <li id="home_tab"><a href="<%= "/users/#{@user.id}" %>">Home</a>
                    </li>
                    <li id="other_tab" class="is-active"><a href="<%= "/users/#{@user.id}/likes" %>">Likes</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
     <section>
        <% @likes.each do |like| %>
            <% post = Post.find_by(id: like.post_id)%>
            <div class="columns is-centered mt-2 mb-2">
                <div class="box column is-6">
                    <article class="media">
                        <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="<%= "/user_images/#{post.user.image_name}" %>" >
                        </p>
                        </figure>
                        <div class="media-content">
                           <div class="content">
                                    <p>
                                    <strong><%= link_to "#{post.user.name}" ,"/users/#{post.user.id}" %></strong> 
                                    <%# <small>@johnsmith</small> <small>31m</small> %>
                                    <br>
                                    <%= post.content %>
                                    </p>
                            </div>
                            <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item">
                                    <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                                        <%= link_to("/likes/#{post.id}/destroy", {method: "post"}) do %>
                                        <%# <span class="fa fa-heart like-btn-unlike"></span> %>
                                        <span class="icon is-small"><i class="fas fa-heart" style="color: red"></i></span>
                                        <% end %>
                                    <% else %>
                                        <%= link_to("/likes/#{post.id}/create", {method: "post"}) do %>
                                        <%# <span class="fa fa-heart like-btn"></span> %>
                                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                        <% end %>
                                    <% end %>
                                </a>
                                <span>&nbsp; <%= post.likes_count %> </span>
                            </div>
                        </nav>
                        </div>
                    </article>
                </div>
            </div>
        <% end %>
    </section>
</main>